<h1>Pirate</h1>

<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3>
  <h4>Weight: <%= @pirate.weight %></h4>
  <h4>Height: <%= @pirate.height %></h4>
</div>

<div class="ship_1">

  <% @ships.each do |ship| %>

  <h2>Ship!</h2>

  <h3>Name: <%= ship.name %></h3>
  <h4>Type: <%= ship.type %></h4>
  <h4>Booty: <%= ship.booty %></h4>

  <% end %>

</div>
